*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body,
#root {
    height: 100%;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    font-family: var(--font-sans);
    & * {
        font-family: var(--font-sans);
    }

    & > div {
        height: 100%;
        width: 100%;
    }
}

:root {
    --primary-colour: rgb(42, 144, 55);
    --primary-hover: rgb(36 113 46);
    --primary-light: rgb(205, 240, 209);
    --washed-blue: rgb(210, 223, 226);
    --background: rgb(243 244 246);
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
}
